APP_NAME=smartinventory-ml
ENVIRONMENT=development
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/smart_inventory
MLFLOW_TRACKING_URI=sqlite:///mlruns.db
MLFLOW_EXPERIMENT_NAME=smartinventory-ml
